*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
node_modules

# Intellij
.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
.env

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.DS_Store

codeship.aes
aws-deployment.env

*.code-workspace

appsettings.local.json
appsettings.remote.json

setenv.sh
syncdev.sh
inmana_dev.bak

*.sln